In [27]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [39]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()
#june

june_date_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()
#june_date_temp

In [5]:
#  3. Convert the June temperatures to a list.
#done

In [35]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june)
june_date_temp_df = pd.DataFrame(june_date_temp)

june_date_temp_df

            date  tobs
0     2010-06-01  78.0
1     2010-06-02  76.0
2     2010-06-03  78.0
3     2010-06-04  76.0
4     2010-06-05  77.0
...          ...   ...
1695  2017-06-26  79.0
1696  2017-06-27  74.0
1697  2017-06-28  74.0
1698  2017-06-29  76.0
1699  2017-06-30  75.0

[1700 rows x 2 columns]

In [38]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
print(june_df.describe())

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.